.main #-for-loaded-img {
  transform: scale(0.9);
  position: relative;
  justify-content: center;
  align-items: center;
}
.main #-for-loaded-img #-container-loaded-img {
  background-color: transparent;
}
.main #-for-loaded-img #-container-loaded-img #--content {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  border: 0.1rem solid rgb(229, 231, 235);
  border-radius: 0.5rem;
  /* back */
  /* */
  /* canvas */
  /* */
  /* palette */
  /* */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-back {
  position: relative;
  width: 7.5rem;
  margin: 3rem 3rem 3rem 2rem;
  border-right: none;
  /* after */
  /* button */
  /* */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-back::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.05rem;
  height: 100%;
  background-color: rgb(229, 231, 235);
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-back #_content-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 3rem;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-back #_content-back #---back-btn {
  width: 100%;
  height: 100%;
  background-color: rgb(37, 99, 235);
  color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(31, 83, 195);
  border-radius: 0.5rem;
  /* hover */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-back #_content-back #---back-btn:hover {
  cursor: pointer;
  background-color: rgb(31, 85, 200);
  border-color: rgb(29, 76, 177);
  transition: background-color 0.13s ease;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-canvas #_content-canvas {
  background-color: rgb(246, 248, 250);
  border: 0.1rem solid rgb(209, 213, 220);
  border-radius: 0.5rem;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-canvas #_content-canvas #__canvas-img {
  transform: scale(0.9);
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette {
  transform: scale(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  border-left: 0;
  /* after */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.05rem;
  height: 100%;
  background-color: rgb(229, 231, 235);
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette #_content-palette {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* color display */
  /* */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette #_content-palette #_content-color-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  background-color: rgb(212, 212, 212);
  border: 0.1rem solid rgb(180, 185, 192);
  border-radius: 2%;
  /* color */
  /* */
  /* color type */
  /* */
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette #_content-palette #_content-color-display #__color-div {
  display: inline-block;
  width: 8.5rem;
  height: 8.5rem;
  margin: 0.5rem;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette #_content-palette #_content-color-display #__content-color-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgb(246, 248, 250);
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}
.main #-for-loaded-img #-container-loaded-img #--content #---container-palette #_content-palette #_content-color-display #__content-color-type p {
  position: relative;
  top: 0.1rem;
  font-size: 0.7rem;
}

/* Copy Btn */
.show-copy-btn {
  display: block !important;
}

.hide-copy-btn {
  display: none !important;
}

.copied {
  background-color: rgb(31, 85, 200) !important;
}

.wrapper {
  position: relative;
  display: inline-block;
}
.wrapper #-container-copy-btn {
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper #-container-copy-btn #--copy-button {
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  background-color: rgb(154, 154, 154);
}
.wrapper #-container-copy-btn #--copy-button:hover {
  cursor: pointer;
}
.wrapper #-container-copy-btn .color-type-hex {
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

/* */
@media (min-width: 110%) and (-webkit-min-device-pixel-ratio: 1.1458333333333333), (min-width: 110%) and (min-resolution: 110dpi), (-webkit-min-device-pixel-ratio: 1.1) {
  .main #-for-loaded-img {
    transform: scale(0.8);
  }
}
@media (min-width: 125%) and (-webkit-min-device-pixel-ratio: 1.302325581395349), (min-width: 125%) and (min-resolution: 125dpi), (-webkit-min-device-pixel-ratio: 1.2) {
  .main #-for-loaded-img {
    transform: scale(0.65);
  }
}/*# sourceMappingURL=styles.css.map */