.main {
    #-for-loaded-img {
        position: relative;
        
        justify-content: center;
        align-items: center;

        #-container-loaded-img {
            background-color: transparent;

            #--content {
                display: flex;
                grid-template-columns: repeat(3, 1fr);
                gap: 5rem;

                border: 0.1rem solid rgb(229, 231, 235);
                border-radius: 0.5rem;

                /* back */
                    #---container-back {
                        position: relative;
                        width: 7.5rem;
                        margin: 3rem 3rem 3rem 2rem;

                        border-right: none;

                        /* after */
                        &::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;

                            width: 0.05rem;
                            height: 100%;

                            background-color: rgb(229, 231, 235);
                        }

                        /* button */
                            #_content-back {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: 5.5rem;
                                height: 3rem;
                                
                                #---back-btn {
                                    width: 100%;
                                    height: 100%;
    
                                    background-color: rgb(37, 99, 235);
                                    color: rgb(255, 255, 255);
    
                                    border: 0.1rem solid rgb(31, 83, 195);
                                    border-radius: 0.5rem;
    
                                    /* hover */
                                    &:hover {
                                        cursor: pointer;

                                        background-color: rgb(31, 85, 200);
                                        border-color: rgb(29, 76, 177);
                                        
                                        transition: background-color 0.13s ease;
                                    }
                                }
                            }
                        /* */
                    }
                /* */

                /* canvas */
                    #---container-canvas {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        #_content-canvas {
                            background-color: rgb(246, 248, 250);
    
                            border: 0.1rem solid rgb(209, 213, 220);
                            border-radius: 0.5rem;
    
                            #__canvas-img {
                                transform: scale(0.9);
                            }
                        }
                    }
                /* */

                /* palette */
                    #---container-palette {
                        transform: scale(0.9);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding-left: 2.5rem;

                        border-left: 0;

                        /* after */
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;

                            width: 0.05rem;
                            height: 100%;

                            background-color: rgb(229, 231, 235);
                        }

                        #_content-palette {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            gap: 1rem;

                            /* color display */
                                #_content-color-display {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    width: 10rem;

                                    background-color: rgb(212, 212, 212);
    
                                    border: 0.1rem solid rgb(180, 185, 192);
                                    border-radius: 2%;

                                    /* color */
                                        #__color-div {
                                            display: inline-block;
                                            
                                            width: 8.5rem;
                                            height: 8.5rem;
                                            margin: 0.5rem;
                                        }
                                    /* */

                                    /* color type */
                                        #__content-color-type {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            text-align: center;

                                            width: 100%;

                                            background-color: rgb(246, 248, 250);

                                            p {
                                                position: relative;
                                                top: 0.1rem;
                                                font-size: 0.7rem;
                                            }
                                        }
                                    /* */
                                }
                            /* */
            
                        }
                    }
                /* */
            }
        }
    }
}